@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

html {
    color: #F1FAEE;
    background-color: #15191F;

    font-family: 'JetBrains Mono', monospace;
    font-size: 10pt;
}

h1 {
    text-decoration: underline;
    text-decoration-color: #E63946;
}

.page {
    margin-top: 100px;
    text-align: center;
}

.page b {
    color: #E63946;
    font-weight: normal;
}
