
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
    --color: #F1FAEE;
    --accent-color: #E63946;
    --background-color: #15191F;
    --secondary-background-color: #252F3D;
    --tertiary-backgroun-color: #374354;
}

[theme="light"] {
    --color: #15191F;
    --accent-color: #E63946;
    --background-color: #F1FAEE;
    --secondary-background-color: #252F3D;
    --tertiary-backgroun-color: #374354;
}

html, body {
    color: var(--color);
    background-color: var(--background-color);
    font-family: 'JetBrains Mono', monospace;
    font-size: 10pt;
    padding: 0;
    margin: 17.025pt 0 70px;
}

h1 {
    text-decoration: underline;
    text-decoration-color: var(--accent-color);
}

.page {
    margin-top: 100px;
    text-align: center;
}

.page b {
    color: var(--accent-color);
    font-weight: normal;
}

nav ul {
    z-index: 2;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    list-style-type: none;
    background-color: var(--accent-color);
    background-attachment: scroll;
    width: 100%;
    position: fixed;
    top: 0;
}

nav li {
    color: var(--color);
    cursor: pointer;
    text-align: center;
    font-weight: bolder;
    display: inline-block;
    padding: 15px 50px 15px;
}

nav .active {
    text-decoration: underline;
    text-decoration-color: var(--background-color);
    text-decoration-thickness: 3px;
}

nav .toggle {
    text-align: right;
}

.boxes {
    display: flex;
    align-items: stretch;
}

.boxes .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 27px 20px 20px;
    padding: 20px;
    text-align: center;
    background-color: var(--secondary-background-color);
    border-radius: 10px;
}

.boxes .box .text-box {
    padding: 5px;
    text-align: left;
    font-style: normal;
    border-radius: 10px;
    background-color: var(--tertiary-backgroun-color);
}

.config {
    padding: 20px 40px 20px 40px;
    margin: 50px 20px -20px;
    border-radius: 10px;
    background-color: var(--secondary-background-color);
}

.config h1 {
    cursor: pointer;
    text-decoration: none;
}

.config pre {
    padding: 10px;
    margin-top: 40px;
    font-size: 14pt;
    border-radius: 10px;
    background-color: var(--tertiary-backgroun-color);
}

.config .rotate {
    transform: rotate(90deg);
}

font-awesome-icon {
    z-index: 1;
}
